@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #131313;
    background-image: url("./assets/background.svg");
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    height: 100vh;
    padding: 30px;
    width: 100vw;
    overflow-y: hidden;
}




.logo {
    width: 200px;
    z-index: 10;
}

.banner {
    margin-top: 20px;
    background: rgba(101, 101, 101, 0.2);
    border-radius: 48px;
    padding: 15px;
    color: #969595;
}

.dots {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    background-image: url("./assets/dots2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.img {
    width: 400px;
    margin: 20px;
}

#input {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    outline: none;
    padding: 0px 15px;
}

#submit {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 42px;
    outline: none;
    padding: 0px 15px;
    background-color: #005335;
    color: #fff;
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    .banner {
        border-radius: 5px;
    }
}