@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #131313;
    background-image: url("./assets/background.svg");
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    height: 100vh;
    padding: 30px;
    width: 100vw;
    overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2e2e2e #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 10px;
  }

.row-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.prompt {
    background: rgba(101, 101, 101, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    height: 65px;
    border: none;
    outline: none;
    width: 90%;
    padding: 0 25px;
    color: #969595;
    font-size: 16px;
}

.trending-title {
    color: #969595;
    font-size: 24px;
    font-weight: 400;
}

.trending {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.trending-item {
    margin: 15px 15px 0px 0px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 25px;
    color: #969595;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button__text {
    display: flex;
    justify-content: center;
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    display: none;
  }
  
  .button--loading::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  
.title {
    color: #969595;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 320px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.images {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5.5px);
    border-radius: 15px; 
    min-height: 360px;
    padding-bottom: 15px;
}

.trending-item:hover {
    background: rgba(101, 101, 101, 0.2);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}

.generate {
    background: #131313;
    border-radius: 10px;
    min-width: 120px;
    height: 65px;
    border: none;
    outline: none;
    width: 20%;
    margin-left: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.generate:hover {
    background: rgba(101, 101, 101, 0.2);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}


.image-img {
    margin-left: 8px;
}

.logo {
    width: 200px;
    z-index: 10;
}

.banner {
    margin-top: 20px;
    background: rgba(101, 101, 101, 0.2);
    border-radius: 48px;
    padding: 15px;
    color: #969595;
}

.dots {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    background-image: url("./assets/dots2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    body {
        padding: 10px;
    }
    .banner {
        border-radius: 5px;
    }
    .responsive {
        display: none;
    }
    .generate {
        margin-left: 5px;
    }
    .images {
        justify-content: center;
        padding-left: 0;
    }
    .image {
        margin-left: 0;
    }
}